
@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}

/* 예: global.css 또는 Layout 컴포넌트 상위 div에 인라인 스타일로 적용 */
.safe-area-fill {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #ffffff; /* 회색 배경 */
}